@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@400;600&display=swap');
@import url("./molecules/header/header.css");
@import url("./organisms/gallery/gallery.css");
@import url("./organisms/routes/routes.css");
@import url("./organisms/route/route.css");
@import url("./molecules/header/footer/footer.css");

:root {
  --section-background-color: rgba(232, 225, 211, 0.95);
  --section-text-color: #352a22;
  --button-background-color: #527E53;
  --button-text-color: #FFFFFF;
}

html {
  font-size: 18px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: url("./assets/images/background.webp") no-repeat center center fixed;
  background-size: cover;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

.main {
  padding: 2rem 10vw;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--section-background-color);
  box-shadow: 0 5px 20px rgba(53, 42, 34, 0.25);
  color: var(--section-text-color);
  padding: 3rem 0 4rem 0;
}

.list-item {
  margin-bottom: 1rem;
}

section:target {
  animation: highlight 1s ease-in-out;
}

@keyframes highlight {
  0% {
    background-color: white;
  }
  25% {
    background-color: var(--section-background-color);
  }
  50% {
    background-color: white;
  }
  75% {
    background-color: var(--section-background-color);
  }
  100% {
    background-color: transparent;
  }
}

.section {
  scroll-margin-top: 54px;
  padding: 0 4rem;
}

@media (max-width: 768px) {
  .main {
    padding: 0;
  }

  .main-content {
    padding: 2rem;
  }

  .section {
    padding: 0;
  }
}
