@import url("./molecules/header/header.css");
@import url("./organisms/gallery/gallery.css");

:root {
  --header-color: #d4b895;
  --header-text-color: #352a22;
  --section-background-color: rgba(232, 225, 211, 0.95);
  --section-text-color: #352a22;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: url("./assets/images/background.webp") no-repeat center center fixed;
  background-size: cover;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

/* MAIN */

.main {
  padding: 2rem 10vw;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--section-background-color);
  padding: 1rem 4rem;
  box-shadow: 0 5px 20px rgba(53, 42, 34, 0.25);
  color: var(--section-text-color);
}

@media (max-width: 768px) {
  .main {
    padding: 1rem;
  }

  .main-content {
    padding: 1rem;
  }
}
