.loading-altivok {
  display: block;
  margin: 20px auto;
}

.loading-group {
  transform-origin: center;
}

.base-mountain {
  stroke: #2c3e50;
  opacity: 0.15;
}

.active-trail {
  stroke: #e67e22;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  
  animation: trailDiscover 1.5s cubic-bezier(0.19, 0.57, 0.38, 0.98) infinite;
}

.base-snow {
  stroke: #edf2f7;
  opacity: 0.6;
}

@keyframes trailDiscover {
  0% {
    stroke-dashoffset: 100;
  }
  100% {
    stroke-dashoffset: 0;
  }
}